.about{
    width: 100%;
    height: 100%;
    background-color: gray;
    border-bottom-left-radius: 15px; /* Esquina inferior izquierda */
  border-bottom-right-radius: 15px; /* Esquina inferior derecha */
}

.title{
  color: white;
  text-align: center;
  font-size: 60px;
}